<header>
  <div class="container">
    <a routerLink="/" class="logo">YumYumMarket</a>

    <ul>
      <li>
        <a routerLink="/auth/login">Login</a>
      </li>
      <li>
        <a routerLink="/auth/register">Register</a>
      </li>
      <li>
        <a routerLink="/foods/dashboard">Order</a>
      </li>
      <li class="menu-container">
        <a routerLink="/dashboard">Kiro</a>
        <div class="menu">
          <a routerLink="/auth/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a routerLink="/auth/logout">Logout</a>
        </div>
      </li>
      <li>
        <a routerLink="/cart-page">
          Cart <span>{{ quantity }}</span>
        </a>
      </li>
    </ul>
  </div>
</header>
