<header>
  <div class="container">
    <a routerLink="/" class="logo">YumYumMarket</a>

    <ul>
      <li *ngIf="!isAuth">
        <a routerLink="/users/login">Login</a>
      </li>
      <li>
        <a routerLink="/foods/dashboard">Foods</a>
      </li>
      <li *ngIf="isAuth" class="menu-container">
        <a routerLink="/dashboard">{{ user.name }}</a>
        <div class="menu">
          <a routerLink="/users/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
      <li>
        <a routerLink="/cart-page">
          Cart <span>{{ quantity }}</span>
        </a>
      </li>
    </ul>
  </div>
</header>
