header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ebe7e6;
    padding: 0 2rem;
    z-index: 1000;
    box-shadow: 0 0 10px;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    height: 170px;
    width: 300px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #ebe7e6;
    box-shadow: 0 0 10px;
}


.container-img img {
    mix-blend-mode: multiply;
    height: 130px;
}

a {
    color: black;
}

a:hover {
    box-shadow: 0 6px 16px;
    cursor: pointer;
}


a.logo {
    font-weight: bold;
    padding: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a {
    padding: 1rem;
    display: inline-block;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1;
    background: rgb(209, 207, 207);
    display: none;
}

.menu-container:hover .menu {
    display: block;
}

.menu a {
    width: 100%;
    min-width: 8rem;
}

.cart i {
    width: 30px;
    height: 30px;
    filter: brightness(0%);
    vertical-align: middle;
}

.price {
    font-size: 1rem;
    color: #333;
    margin-left: 10px;
    vertical-align: middle;
}