<div class="container">
  <div class="content" *ngIf="order">
    <h1>Order #{{ order.id }}</h1>
    <div class="details">
      <div><strong>Date</strong> {{ order.createdAt | date : "medium" }}</div>
      <div><strong>Name</strong> {{ order.name }}</div>
      <div><strong>Address</strong> {{ order.address }}</div>
      <div><strong>Status</strong> {{ order.status }}</div>
      <div *ngIf="isAdmin"><strong>User</strong> {{ order.user }}</div>
      <div *ngIf="order.paymentId">
        <strong>Payment ID</strong> {{ order.paymentId }}
      </div>
    </div>

    <order-items-list [order]="order"></order-items-list>
  </div>

  <div>
    <app-title title="Shipping Address" />
    <app-map [order]="order" [readonly]="true" />
    <div class="buttons">
      <default-button *ngIf="isAdmin && order?.status === 'NEW'" text="Mark as paid" (onClick)="payOrderAsAdmin()"/>
      <default-button *ngIf="!isAdmin && order?.status === 'PAID' && order?.status !== 'NEW'" text="Cancel" (onClick)="cancelOrder()"/>
      <default-button *ngIf="isAdmin && order?.status !== 'CANCELLED' && order?.status !== 'NEW'" text="Mark as cancelled" (onClick)="cancelOrder()"/>
      <default-button *ngIf="isAdmin && order?.status !== 'SHIPPED' && order?.status !== 'NEW'" text="Mark as shipped" (onClick)="shippedOrder()"/>
      <default-button *ngIf="isAdmin && order?.status !== 'RETURNED' && order?.status !== 'NEW'" text="Mark as returned" (onClick)="returnOrder()"/>
      <default-button *ngIf="isAdmin" text="Delete" (onClick)="deleteOrder()"/>
    </div>
  </div>
</div>
