<div class="header-container">
  <app-title title="Total ({{ totalOrders }})" />
  <app-search [type]="'orders'" />
</div>
<div class="container">
  <div class="title-container">
    <app-title title="Unpaid Orders ({{ newOrders.length }})" />
    <div class="toggle-icon-container" (click)="toggleOrdersVisibility('new')">
      <i
        class="toggle-icon"
        [ngClass]="{
          'show-beak-right': !showNewOrders,
          'show-beak-bottom': showNewOrders
        }"
        >▼</i
      >
    </div>
  </div>
  <app-orders-list
    [orders]="newOrders"
    [ngClass]="{ hide: !showNewOrders }"
    [path]="path"
    [searchQuery]="searchQuery"
  ></app-orders-list>
</div>

<div class="container">
  <div class="title-container">
    <app-title title="Paid Orders ({{ paidOrders.length }})" />
    <div class="toggle-icon-container" (click)="toggleOrdersVisibility('paid')">
      <i
        class="toggle-icon"
        [ngClass]="{
          'show-beak-right': !showPaidOrders,
          'show-beak-bottom': showPaidOrders
        }"
        >▼</i
      >
    </div>
  </div>
  <app-orders-list
    [orders]="paidOrders"
    [ngClass]="{ hide: !showPaidOrders }"
    [searchQuery]="searchQuery"
  />
</div>

<div class="container">
  <div class="title-container">
    <app-title title="Cancelled Orders ({{ cancelledOrders.length }})" />
    <div
      class="toggle-icon-container"
      (click)="toggleOrdersVisibility('cancelled')"
    >
      <i
        class="toggle-icon"
        [ngClass]="{
          'show-beak-right': !showCancelledOrders,
          'show-beak-bottom': showCancelledOrders
        }"
        >▼</i
      >
    </div>
  </div>
  <app-orders-list
    [orders]="cancelledOrders"
    [ngClass]="{ hide: !showCancelledOrders }"
    [searchQuery]="searchQuery"
  />
</div>

<div class="container">
  <div class="title-container">
    <app-title title="Shipped Orders ({{ shippedOrders.length }})" />
    <div
      class="toggle-icon-container"
      (click)="toggleOrdersVisibility('shipped')"
    >
      <i
        class="toggle-icon"
        [ngClass]="{
          'show-beak-right': !showShippedOrders,
          'show-beak-bottom': showShippedOrders
        }"
        >▼</i
      >
    </div>
  </div>
  <app-orders-list
    [orders]="shippedOrders"
    [ngClass]="{ hide: !showShippedOrders }"
    [searchQuery]="searchQuery"
  />
</div>

<div class="container">
  <div class="title-container">
    <app-title title="Returned Orders ({{ returnedOrders.length }})" />
    <div
      class="toggle-icon-container"
      (click)="toggleOrdersVisibility('returned')"
    >
      <i
        class="toggle-icon"
        [ngClass]="{
          'show-beak-right': !showReturnedOrders,
          'show-beak-bottom': showReturnedOrders
        }"
        >▼</i
      >
    </div>
  </div>
  <app-orders-list
    [orders]="returnedOrders"
    [ngClass]="{ hide: !showReturnedOrders }"
    [searchQuery]="searchQuery"
  />
</div>
