<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="emailControl"
        [showErrors]="isSubmitted"
        type="email"
        label="Email"
      ></text-input>

      <text-input
        [control]="passwordControl"
        [showErrors]="isSubmitted"
        type="password"
        label="Password"
      ></text-input>

      <default-button text="Login"></default-button>
      <div class="register">
        Don't have an account?? &nbsp;
        <a routerLink="/users/register" [queryParams]="{returnUrl}">Register</a>
      </div>
    </form>
  </div>
</div>
