.container {
    display: flex;
    padding: 2rem 0 0 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-side {
    width: 700px;
}

.left-side button {
    border: none;
    background-color: #eb6f50;
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 4rem;
    margin-top: 1rem;
}

.left-side button:hover {
    box-shadow: 0 0 10px;
    cursor: pointer;
}

.stake {
    margin-right: -600px;
}


.right-side-image img {
    mix-blend-mode: multiply;
    height: 550px;
}

.popular-list {
    padding: 0 6rem;
    margin: 0;
}

.popular-list .title {
    margin-top: -40px;
    color: #555;
}

