<div class="container">
  <div class="left-side">
    <h1>Order your best food anytime</h1>
    <p>
      Hey, our delicious food is waiting for you, we are always nearto you with
      fresh item of food.
    </p>
    <button routerLink="/foods/dashboard">Expole food</button>
  </div>
  <div class="right-side-image">
    <img
      class="stake"
      src="https://media.istockphoto.com/id/953643898/photo/plate-of-grilled-beef-steak.jpg?s=612x612&w=0&k=20&c=wiMV-HZo4mkdps2ezEU9msj3Q04o8n0dE3Z-nGvZnJY="
      alt="image"
    />
    <img class="side-image"
      src="https://static.vecteezy.com/system/resources/thumbnails/030/477/576/small/white-background-with-a-frame-of-food-ai-generated-photo.jpg"
      alt="image"
    />
  </div>
</div>
<div class="popular-list">
  <h2 class="title">Popular Dishes</h2>
  <app-food-list [foods]="foods" gap="4rem" margin="0" />
</div>
