@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    box-sizing: border-box;
}

html {
    font-size: 30px;
}

html,
button {
    font-family: "Ariel", sans-serif;
}

body {
    margin: 0;
    background-color: #ebe7e6;
    padding: 4rem 0;
}

a {
    text-decoration: none;
}
