.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: 420px;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.content:hover {
    border-color: #333;
}

h1 {
    margin: 0 0 0.7rem 0;
    font-size: 25px;
}

h1 span {
    color: #8B4513;
}

.details>div {
    font-size: 25px;
}

.details strong {
    display: inline-block;
}

.no-orders {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 100;
    height: 5rem;
}