.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0 3rem 0;
}

.details {
    width: 25rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.login a:hover {
    text-decoration: underline;
}