<div class="container">
  <div class="details">
    <app-title title="Register" />
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input [control]="fc.name" [showErrors]="isSubmitted" label="Name" />
      <text-input
        [control]="fc.email"
        [showErrors]="isSubmitted"
        label="Email"
        type="email"
      />
      <text-input
        [control]="fc.password"
        [showErrors]="isSubmitted"
        label="Password"
        type="password"
      />
      <text-input
        [control]="fc.rePass"
        [showErrors]="isSubmitted"
        label="Confirm Password"
        type="password"
      />
      <text-input
        [control]="fc.address"
        [showErrors]="isSubmitted"
        label="Address"
      />
      <default-button text="Register" />
      <div class="login">
        Already have an account? &nbsp;
        <a routerLink="/users/login" [queryParams]="{returnUrl}">Log In</a>
      </div>
    </form>
  </div>
</div>
