.container {
    margin-top: 1rem;
    display: flex;
    margin: 0 2rem 6rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    width: 35rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.summary>div {
    display: flex;
    margin-top: 0.7rem;
}

.summary span {
    font-size: 1.2rem;
}

.summary h3 {
    margin: 0 1rem 0 0;
    flex-basis: 5rem;
}


.buttons-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.buttons {
    margin: 2rem;
    width: 25rem;
}

@media (max-width: 900px) {
    .container {
        margin: 1rem;
    }

    .content {
        width: 100%;
        max-width: 30rem;
        margin-right: 0;
    }

    .buttons {
        width: 100%;
        max-width: 30rem;
        margin: 1.5rem 0;
    }

    .summary > div {
        flex-wrap: wrap;
    }
}